@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 31 47% 99%;
    --foreground: 31 79% 0%;
    --muted: 31 26% 91%;
    --muted-foreground: 31 9% 33%;
    --popover: 31 47% 99%;
    --popover-foreground: 31 79% 0%;
    --card: 31 47% 99%;
    --card-foreground: 31 79% 0%;
    --border: 31 8% 93%;
    --input: 31 8% 93%;
    --primary: 31 100% 50%;
    --primary-foreground: 31 100% 10%;
    --secondary: 31 12% 87%;
    --secondary-foreground: 31 12% 27%;
    --accent: 31 21% 80%;
    --accent-foreground: 31 21% 20%;
    --destructive: 16 92% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 31 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 31 54% 1%;
    --foreground: 31 18% 97%;
    --muted: 31 26% 9%;
    --muted-foreground: 31 9% 67%;
    --popover: 31 54% 1%;
    --popover-foreground: 31 18% 97%;
    --card: 31 54% 1%;
    --card-foreground: 31 18% 97%;
    --border: 31 8% 13%;
    --input: 31 8% 13%;
    --primary: 31 100% 50%;
    --primary: 31 100% 100%;
    --primary-foreground: 31 100% 10%;
    --secondary: 31 14% 17%;
    --secondary-foreground: 31 14% 77%;
    --accent: 31 23% 25%;
    --accent-foreground: 31 23% 85%;
    --destructive: 16 92% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 31 100% 50%;

    --secondary-glow: conic-gradient(
    from 10deg at 50% 50%,
    #eb7494 0deg,
    #ae77b2 55deg,
    #97b5da 120deg,
    #0099ca 160deg,
    transparent 360deg
  );

  --third-glow: conic-gradient(
    from 90deg at 50% 50%,
    #ff8b7e 0deg,
    #e24e6b 160deg,
    #7ed2da 120deg,
    #000000 55deg,
    transparent 360deg
  );
  }



}


/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
} */


@font-face {
  font-family: "alphalyraeMedium";
  src: url("/fonts/AlphaLyrae-Medium.woff2");
}
.alphalyraeMedium {
  font-family: "alphalyraeMedium", sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  body::before,
body::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity:0.8
}
/*
  body::before {
  background: var(--third-glow);
  border-radius: 50%;
  width: 100%;
  height: 500px;
  margin-left:0;
  filter:blur(90px);
  top: -300px;
  left: 0%;
} */

/* body::after {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 500px;
  height: 700px;
  filter:blur(90px);
  top: calc(50vh - 50vw/2);
  left: calc(50vw - 50vw/2);
} */
}
